<div ng-controller="addfeedController">
    <form name="addFeedForm" novalidate>
        <div>
            <input type="url" name="addFeedFormUrl" placeholder="Enter a Feed Address" ng-model="feedInput" required>
            <br>{{feedInput}}
            <br>addFeedForm.addFeedFormUrl.$dirty: {{addFeedForm.addFeedFormUrl.$dirty}}
            <br>addFeedForm.addFeedFormUrl.$invalid: {{addFeedForm.addFeedFormUrl.$invalid}}
            <br>addFeedForm.addFeedFormUrl.$error: {{addFeedForm.addFeedFormUrl.$error}}
            <br><input type="button" value="Parse" />
            <div ng-show="addFeedForm.addFeedFormUrl.$dirty && addFeedForm.addFeedFormUrl.$invalid">Invalid:
                <span ng-show="addFeedForm.addFeedFormUrl.$error.required">Please provide a URL.</span>
                <span ng-show="addFeedForm.addFeedFormUrl.$error.url">This is not a valid URL.</span>
            </div>
    	</div>
    </form>
	
</div>