body, div{
    padding:0;
    margin:0;
    font-family: sans-serif;
    color: rgb(73, 73, 73);
}

td{
    font-family: sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
    border-bottom: 1px dashed rgb(73, 73, 73);
    color: inherit;
}

#header{
    margin:0;
    padding:0;
    height:44px;
    display:block;
    box-sizing: border-box;
    background-color: #1D2025;
}
/* before removing rssque name from the logo
#logo{
    box-sizing: border-box;
    padding:5px 10px 5px 10px;
    width:128px;
    background-color: #2A2D34;
    display: inline-block;
    height: 44px;
    float: left;
}*/

#logo{
    box-sizing: border-box;
    padding:5px 10px 5px 10px;
    background-color: #2A2D34;
    display: inline-block;
    height: 44px;
    float: left;
}

#logo>a{
    border: 0;
}

.logo-text{
    text-decoration: none !important;
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
    color: #bb5810;
    display: inline-block;
    height:44px;
    line-height:44px;
    margin-top: -5px;
    padding-left: 10px;
    position: absolute;
}

.menu-item{
    display: inline-block;
    color: #fff;
    height:44px;
    line-height:44px;
    text-decoration: none !important;
    font-size: 13px;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border-right: 1px #7E7F84 solid;
}

.menu-item>a{
    text-decoration: none;
    color: #fff;
}

.menu-item-first{
    border-left: 1px #7E7F84 solid;
}

.menu-separator{
    display: inline-block;
    color: #fff;
    height:44px;
    line-height:44px;
    text-decoration: none !important;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    margin: 5px;
    width: 1px;
    height: 34px;
    background-color: #7E7F84;
}

.pull-right{
    float: right;
    position: relative !important;
}

#main {
	overflow: scroll;
	position: fixed;
	left: 0;
	right: 0;
	top: 45px;
	bottom: 0;
	background-color:white;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
}

.feed-item-container{
    border-collapse:collapse;
    position:relative;
    cursor:pointer;
    /*border-top: 1px rgb(200, 200, 200) solid;*/
    /*border: 1px black solid;*/
    padding: 3px;
    /*padding-left:10px;*/
}

.feed-item-shower{
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
}

.feed-item-title-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 0;
}

.feed-item-title-link:after{
    font-family: FontAwesome;
    content:"  \f08e";
    color: gray;
    border: 0;
    padding-left:10px;
}

.feed-item-header-unread{
    background-color: #f7f7f7;
}

.feed-item-content-hidden{
    border-collapse:collapse;
    visibility:hidden;
    height: 0;
    width:0;
}

.feed-item-content-visible{
    border-collapse:collapse;
    visibility:visible;
    height: auto;
    width:auto;
    padding:20px;
    cursor:auto;
    color: rgb(73, 73, 73);
    line-height: 24px;
    font-size: 15px;
    font-family: sans-serif;
}

.feed-item-footer-hidden{
    border-collapse:collapse;
    visibility:hidden;
    height: 0;
    width:0;
}

.feed-item-footer-visible{
    border-collapse:collapse;
    visibility:visible;
    height: auto;
    background-color: #f7f7f7;
    width:auto;
}

.feed-item-left-handle{
    border-collapse:collapse;
    border: 1px #bb5810 solid;
    background-color: #bb5810;
    width: 3px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.feed-item-center-handle{
    border-collapse:collapse;
    border: 1px #ededed solid;
    border-left: 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
}

.force-wrap{
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    box-sizing: border-box !important;
    height: auto;
}



































.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0 solid #FFFFFF; border-radius: 10px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Unread";
    padding-left: 10px;
    background-color: #BB5810; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Read";
    padding-right: 10px;
    background-color: #4CAE4C; color: #202020;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 11px; margin: 5.5px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 10px;
    position: absolute; top: 0; bottom: 0; right: 54px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0; 
}