<!DOCTYPE html>
<html ng-app="rssque">
 
<head>
	<title>rssque</title>
	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">

	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/factory.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
</head>
 
<body>
	<div class="row">
		<div class="col-sm-6">
			<h1>rssque</h1>
		</div>
		<div class="col-sm-6">
			Logout or user will come here
		</div>
	</div>
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span>rssque</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	
	
	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<!--strong>id</strong>: < %= user._id %><br-->
						<!--strong>email</strong>: < %= user.user %><br-->
						<!--strong>password</strong>: < %= user.pass %-->
					</p>

			</div>
		</div>

	</div>
	
	
	
	<div class="container">
		<h1>rssque</h1>
		<hr/>
		<ng-view></ng-view>
	</div>

	<!-- Live reload script >
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script-->
</body>
 
</html>